---
layout: default
lang: en
title: TECH-NI
update_policy: "{% include enum-lang-posts.html %}{% includex post-list-yaml-modified.html,20 %}"
---
<article>
<h1>Works</h1>
<dl>
<dt><a href="http://tech.nitoyon.com/illusion1/">Color Illusion Generator</a></dt>
<dd>Generate &quot;Color Illusion&quot; now!!</dd>
<dt><a href="http://tech.nitoyon.com/javascript/application/racing/2_en.html">Driving on Google Earth</a></dt>
<dd>Let's drive on Google Eaerth with COM API.</dd>
<dt><a href="http://tech.nitoyon.com/javascript/application/racing/1/">Driving on Google Maps</a></dt>
<dd>Let's drive on Google Maps.</dd>
<dt><a href="http://tech.nitoyon.com/javascript/application/ieerbug/index_en.html">IEerBug</a></dt>
<dd>FireBug like debug console for IE6.</dd>
</dl>

<h1>Blog</h1>
{% include enum-lang-posts.html %}
{% includex post-list.html,20 %}

</article>