---
layout: default
lang: en
title: TECH-NI
---
<article>
<h1>Works</h1>
<dl>
<dt><a href="blog/2021/10/28/break-the-way">BREAK THE WAY</a></dt>
<dd>An athletic Game made on Game Builder Garage (Nintendo Switch)</dd>
<dt><a href="blog/2021/10/19/calc-card/">Calculation card app for first graders</a></dt>
<dd>Help your child solving calculation card.</dd>
<dt><a href="/javascript/application/racing/1/">Driving on Google Maps</a></dt>
<dd>Let's drive on Google Maps.</dd>
<dt><a href="/javascript/application/racing/1/">Driving on Google Maps</a></dt>
<dd>Let's drive on Google Maps.</dd>
</dl>

<h1>Blog</h1>
{% include set-locale.html %}{% include post-list.html limit='20' %}

</article>