@font-face {
    font-family: 'CipherM+1cregular';
    src: url('ciphered-mplus.eot');
    src: url('ciphered-mplus.eot?#iefix') format('embedded-opentype'),
         url('ciphered-mplus.woff') format('woff'),
         url('ciphered-mplus.ttf') format('truetype'),
         url('ciphered-mplus.svg#M+1cregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.uncopyable-text {
  font-family: "CipherM+1cregular";
  font-size: 2em;
  padding: .5em;
  margin: 0 0 1.6em 0;
  border: .5em solid #ccc;
  border-radius: .5em;
  background: white;
}

@media screen and (max-width: 480px) {
  .uncopyable-text {
    font-size: 1.5em;
    padding: .2em;
    border: .2em solid #ccc;
    border-radius: .5em;
  }
}
