# only tech.nitoyon.com
SetEnvIf Host "^tech\.nitoyon\.com$" hos_ok
order deny,allow
deny from all
allow from env=hos_ok

RewriteEngine On
RewriteRule ^/?feed /ja/blog/index.xml [R=301,L]
RewriteRule ^/?about\.html /index.cgi?about
RewriteRule ^/?contact\.html /index.cgi?contact
