@charset "UTF-8";

div.prof h3 {
	font-size: 120%;
	margin-bottom: .8em;
	letter-spacing: 3px;
}

div.prof p {
	margin: .2em 0;
}

div.prof div.section {
	margin-bottom: 3em;
}

div#aboutme {
	width: 300px;
	float: left;
}

div#aboutme img {
	float: left;
	margin: 0 1em 1em 0;
	padding: 2px;
	border: 1px solid #999;
	width: 60px;
	height: 60px;
}

div#aboutme p {
	margin: 0 0 .5em 0;
	line-height: 1.1;
}

p#prof_name {
	font-size: 120%;
}

div#aboutme p span.en {
	display: block;
	color: #99c;
	font-size: 90%;
}


div#aboutme_side {
	margin-left: 325px;
	padding: 10px;
	width: 150px;
	background: #f0ece0;
}

div#aboutme_side h4 {
	color: #666;
	margin: 0 0 .2em 0;
	padding: 0;
	border: 0;
}

div#aboutme_side ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

div#aboutme_side ul li {
	margin: 0;
	padding: .2em 0;
	line-height: 1.2;
}

div#aboutme_side ul#accounts {
	margin-bottom: 2em;
}

div#aboutme_side ul#accounts li {
	padding-left: 18px;
}

div#aboutme_side ul li.hateda {background: url('http://tech.nitoyon.com/img/icon/hateda.gif') top left no-repeat;}
div#aboutme_side ul li.hatebu {background: url('http://tech.nitoyon.com/img/icon/hatebu.gif') top left no-repeat;}
div#aboutme_side ul li.mixi   {background: url('http://tech.nitoyon.com/img/icon/mixi.gif') top left no-repeat;}
div#aboutme_side ul li.twitter{background: url('http://tech.nitoyon.com/img/icon/twitter.gif') top left no-repeat;}

dl.dl_table_small dt, dl.dl_table_large dt{
	float: left;
	clear: both;
	margin: 0;
	width: 2.5em;
	color: #966;
}

dl.dl_table_small dd, dl.dl_table_large dd{
	margin: 0 0 .5em 3em;
}

dl.dl_table_small dt {width: 2.5em;}
dl.dl_table_small dd {margin-left: 3em;}

dl.dl_table_large dt {width: 5.5em;}
dl.dl_table_large dd {margin-left: 6em;}
