*{
	margin:0;
	padding:0;
}

body{
	margin: 0;
	text-align: center;
	background: black;
	color: white;
	font-size: 64px;
	overflow: auto;
	font-family: sans-serif;
}

div#canvas{
	margin: 0 auto;
}

h3{
	font-size: 1.8em;
}

h4{
	font-size: 2em;
}

h5{
	font-size: 1.4em;
}

p{
	margin: .3em 0;
}

ol{
	text-align: left;
	margin-left: 2em;
}

ul{
	text-align: left;
	list-style: none;
	margin: .2em 0;
}

ul ul{
	margin: 0 0 0 1em;
}

ol li{
	padding-left: .2em;
}

ul li{
	padding-left: 30px;
	background: url("list-icon.gif") no-repeat;
	background-position: 0 .5em;
}

dl{
	text-align: left;
}

dl dd{
	margin-left: 1em;
}

strong{
	font-size: 110%;
}

pre{
	width: 100%;
	overflow: auto;
	font-size: 40%;
	text-align: left;
	border: 2px solid #ccc;
	padding: .3em;
	margin: .3em 0;
}

span.small{
	font-size: 60%;
}