<footer class="page-footer">
<h2>About</h2>
<div class="wrapped">
<div id="footer-right-column" class="column">
	<div id="profile">
		<h3>Profile</h3>

		<a href="/about.html" id="prof_pic"><img alt="Photo" src="/img/icon/pic.jpg"></a>
		<p>{{locale['profile.name']}}</p>
		<p>{{locale['profile.text']}}</p>
		<p class="seemore"><a href="/{{site.lang}}/about/">{{locale['profile.more']}}</a></p>
	</div>

	{% if site.lang == 'ja' %}
	<div id="subscribe">
		<h3>Subscribe</h3>
		<ul>
			<li><a href="https://twitter.com/nitoyon" class="twitter-icon32">twitter: @nitoyon</a></li>
			<li><a href="https://www.facebook.com/TechNiBlogJa" class="facebook-icon32">Facebook ページ</a></li>
			<li><a href="/ja/blog/index.xml" class="rss-icon32">RSS</a></li>
		</ul>
	</div>{% endif %}
</div>

<div id="footer-left-column" class="column">
	<div id="recententries">
		<h3>Recent Entries</h3>
		<ul id="recententries_list">
			<li><img src="/images/loading.gif"><noscript>(JavaScript required)</noscript></li>
		</ul>
	</div>
</div>
</div><!--wrapped-->

<div class="wrapped">
	<div id="archive">
	<h3>Archive</h3>
	<ul id="archive_month_list">
		<li><img src="/images/loading.gif"><noscript>(JavaScript required)</noscript></li>
	</ul>
	</div>
</div><!-- wrapped -->

<div class="wrap copy">
&copy; nitoyon 2002-2014. All rights reserved.
</div>
</footer>
