<div class="share">
	{% if page.lang == 'ja' %}<a href="http://b.hatena.ne.jp/entry/tech.nitoyon.com{% if page.old_url %}{{ page.old_url | replace:'http://d.hatena.ne.jp/nitoyon/','/entry/' }}{% else %}{{ page.url }}{% endif %}" class="hatena-bookmark-button" data-hatena-bookmark-title="{{ page.title | escape }} - {{'blog_name'|t}}"  data-hatena-bookmark-layout="standard" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a>{% endif %}
	<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://tech.nitoyon.com{{ page.url }}" data-lang="{{ page.lang }}" data-size="horizontal" data-text="{{page.title | escape }} - {{ 'blog_name'|t }}" data-related="nitoyon" data-dnt="true">Tweet</a>
	<div class="fb-like" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false"></div>
</div>
