html,body{
	margin: 0;
}

html{overflow: auto;}
body{
	background: #DFD4D0;
	font-size: 90%;
	overflow: hidden;
}

h1{
	background: url('title.png') no-repeat;
	height: 36px;
	text-indent: -9999px;
	margin: 0 0 0 50px;
}

h2{
	color: #F0037F;
	font-size: 180%;
	margin: 0;
	padding: 5px 0 5px 0;
}

h3{
	margin: 0;
	color: #660000;
}

ul, ol{
	margin: 0;
	padding: 0;
}

li.odd{
	background: #fff6f6;
}

/*======================================
 =  parts
 ======================================*/
div#header{
	position: absolute;
	top: 5px;
	width: 690px;
	text-align: right;
}
div#header a {
	color: blue;
}

div#header a.selected {
	color: #666666;
	text-decoration: none;
	cursor: text;
}

div#about h2{
	padding-top: 30px;
}

div#about_body{
	padding: 0 20px;
}

div#about_body h3{
	font-size: 90%;
	margin: 20px 0 0 0;
}

div#about_body ul{
	margin-left: 2em;
}

div#about_body p{
	font-size: 90%;
	line-height: 1.2;
	margin-left: 2em;
}

div#about_body p.notice{
	font-weight: bold;
	margin: 5px;
	padding: 1em;
	border: 1px solid #ccc;
	background-color: #eeeeee;
}

div#footer{
	margin: 0px 0 10px 30px;
	width: 700px;
	text-align: center;
	font-size: 90%;
	letter-spacing: 1px;
}


/*======================================
 =  box
 ======================================*/
div.box{
	background-image: url('boxmiddle.png');
	background-repeat: repeat-y;
	margin: 0 0 10px 50px;
	width: 655px;
}

div.box_list h2,
div.box_detail h2{
	padding: 13px 20px 0 20px;
	background: url('boxtop.png') no-repeat;
}

div.box_list,
div.box_detail{
	background: url('boxbottom.png') left bottom no-repeat;
	padding-bottom: 28px;
}

div.box_detail{
	padding-bottom: 15px;
}


/*======================================
 =  entries
 ======================================*/

/*** list ***/
div.box_list div.entry{
	padding: 0 20px;
}

div.box_list div.entry ol.entries{
	margin-left: 2em;
	padding: .5em 0 .5em 2em;
}

div.box_list div.entry ol.entries li{
	padding: .2em 0;
}

div.box_list div.entry ol.entries strong{
	font-size: 90%;
	color:#FF0000;
	margin-left: .6em;
	text-decoration:underline;
	background-color: #ffcccc;
}


/*** detail ***/
div.box_detail div.entry ol.entries{
	margin: 0;
	padding: 0;
	list-style-type: none;
	position: relative;
}

div.box_detail div.entry{
	padding: 0 20px 0 20px;
	margin-bottom: 1em;
}

div.box_detail ol.entries li{
	height: 1.5em;
}

div.box_detail ol.entries li span.order{
	float: left;
	display: block;
	width: 20px;
	text-align: right;
	font-size: 90%;
	margin-right: 10px;
}


div.box_detail ol.entries li > a{
	background-repeat: no-repeat;
	background-position: left .1em;
	text-overflow: ellipsis;
	padding: .1em 0 0 20px;
	white-space: nowrap;
	float: left;
	display: block;
	left: 25px;
	width: 480px;
	overflow: hidden;
}

div.box_detail ol.entries li > a:visited{
	color: #889988;
}

div.box_detail ol.entries li > a:hover{
	background-color: #ffff99;
	background-repeat: no-repeat;
}

div.box_detail ol.entries li strong a,
div.box_detail ol.entries li strong a:hover,
div.box_detail ol.entries li strong a:visited{
	position: absolute;
	right: 0px;
	font-size: 90%;
	color:#FF0000;
	text-decoration:underline;
}

div.box_detail div.seemore{
	padding: 5px 0 0 30px;
	font-size: 90%;
}

/*======================================
 =  domain
 ======================================*/

/*** common ***/
div.box div.domain h3{
	background: url('siterank.png') left bottom no-repeat;
	font-size: 1px;
	color: white;
	height: 30px;
	margin: 0 0 5px 0;
}

/*** list ***/
div.box_list div.domain{
	padding: 0 20px;
}

div.box_list div.domain ol{
	margin-left: 2em;
	padding: .5em 0 .5em 2em;
}

div.box_list div.domain ol li{
	padding: .2em 0;
	letter-spacing: 1px;
}

div.box_list div.domain ol li span{
	margin-left: 2em;
	color: #666666;
	font-size: 80%;
}


/*** detail ***/
div.box_detail div.domain{
	float: left;
	padding-left: 20px;
	width: 340px;
}

div.box_detail div.domain ol{
	width: 300px;
	padding-left: 30px;
}

div.box_detail div.domain ol li{
	position: relative;
	background-repeat: no-repeat;
	padding: 2px 0 0 20px;
	margin: 2px 0 2px 0;
	cursor: pointer;
}

div.box_detail div.domain ol li span,
div.box_detail div.domain ol li div{
	position: absolute;
	right: 14px;
	color:#FF0000;
	text-align: right;
	text-decoration: underline;
	font-weight: bold;
	font-size: 90%;
}

div.box_detail div.domain ol li img{
	position: absolute;
	right: 0px;
}

div.box_detail div.domain ol li div{
	background-color: #ffcccc;
	height: 1.2em;
}


/*======================================
 =  tag cloud
 ======================================*/

/*** common ***/
.tag-cloud li.tag29,.tag-cloud li.tag30                    {color:#9ACC9A;font-size:70%;}
.tag-cloud li.tag26,.tag-cloud li.tag27,.tag-cloud li.tag28{color:#8FC78F;font-size:70%;}
.tag-cloud li.tag23,.tag-cloud li.tag24,.tag-cloud li.tag25{color:#83C183;font-size:80%;}
.tag-cloud li.tag20,.tag-cloud li.tag21,.tag-cloud li.tag22{color:#76BA76;font-size:90%;}
.tag-cloud li.tag17,.tag-cloud li.tag18,.tag-cloud li.tag19{color:#67B267;font-size:100%;}
.tag-cloud li.tag14,.tag-cloud li.tag15,.tag-cloud li.tag16{color:#56AA56;font-size:110%;}
.tag-cloud li.tag11,.tag-cloud li.tag12,.tag-cloud li.tag13{color:#44A144;font-size:120%;}
.tag-cloud li.tag8 ,.tag-cloud li.tag9 ,.tag-cloud li.tag10{color:#309730;font-size:130%;}
.tag-cloud li.tag5 ,.tag-cloud li.tag6 ,.tag-cloud li.tag7 {color:#198C19;font-size:140%;}
.tag-cloud li.tag3 ,.tag-cloud li.tag4                     {color:#008000;font-size:150%;}
.tag-cloud li.tag2                                         {color:#008000;font-size:160%;}
.tag-cloud li.tag1                                         {color:#008000;font-size:180%;}

div.box div.tag h3{
	font-size: 1px;
	color: white;
	height: 30px;
	margin-bottom: 5px;
}

div.box div.tag h3{background: url('tagrank.png') left bottom no-repeat;}
div.box div.tag h3.tag-cloud{background: url('tagcloud.png') left bottom no-repeat;}

div.box ol.tag-cloud li{
	display: inline;
	margin: 0 1px;
}

div.box ol.tag-cloud li span{
	display: none;
}


/*** list ***/
div.box_list div.tag{
	padding: 0 20px 20px 20px;
}


/*** detail ***/
div.box_detail div.tag{
	margin-left: 380px;
	padding-right: 20px;
}

div.box_detail ol.tag-cloud li{
	cursor: pointer;
}

div.box_detail ol.tag-rank{
	width: 220px;
	padding-left: 30px;
}

div.box_detail ol.tag-rank li{
	position: relative;
	margin: 2px 0 2px 0;
	padding: 2px 0 0 20px;
	cursor: pointer;
	background: url('tag.png') no-repeat;
	color: #336699;
}

div.box_detail ol.tag-rank li span{
	position: absolute;
	left: 175px;
	padding-left: 5px;
	color: #666;
	font-size: 70%;
}

div.box_detail ol.tag-rank li div{
	font-size: 70%;
	position: absolute;
	right: 45px;
	background-color: #3399ff;
	height: 1.2em;
}

div.box_detail ol.tag-rank li img{
	position: absolute;
	right: 0px;
}

/*======================================
 =  permalink
 ======================================*/
div#permalink{
	clear: both;
	padding: 30px 20px 0 20px;
}

div#permalink label{
	background: url('permalink.png') left 5px no-repeat;
	color: white;
	width: 80px;
	height: 20px;
	float: left;
	margin-bottom: 5px;
}

div#permalink input{
	display: block;
	margin-left: 90px;
	border: 1px solid #ccc;
	width: 500px;
}


/*======================================
 =  timeline
 ======================================*/
div#timeline{
	position: absolute;
	top: 50px;
	height: 1em;
	background-color: #ffffff;
	cursor: pointer;
	z-index: 9;
}

div#timeline span{
	width: 60px;
	border-left: 1px solid #ccc;
	height: 1em;
	display: block;
	position: absolute;
	text-align: center;
	font-weight: bold;
	font-size: 80%;
	z-index: 2;
}

div#timeline img{
	z-index: 0;
	position: absolute;
}

/*======================================
 =  popup
 ======================================*/

div#popup{
	width: 400px;
	height: 300px;
	position: absolute;
	background-color: #ffffff;
	z-index: 1000;
}

div#popup h3{
	padding: 5px 0 5px 24px;
	background-repeat: no-repeat;
	background-position: 5px 7px;
	background-color: #f3f3f3;
	border-bottom: 1px solid #cccccc;
	color: #33aaff;
}

div#popup div#graph_container{
	padding: 10px 0;
}

div#background{
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: #000000;
	z-index: 999;
}