html{
	overflow:hidden;
	height: 100%;
}
body{
	margin:0;
	height: 100%;
	overflow:hidden;
}

div#header{
	position: absolute;
	height: 90px;
	right: 0px;
	top: 0px;
	width: 100%;
	z-index: 50;
	margin: 0 16px 0 0;
	background: white;

	border-bottom: 10px solid #ddd;
}

div#header img{
	padding-left: 16px;
	float:left;
}

div#what_is_this{
	border-left: 3px dotted #ccc;
	padding-left: 5px;
	margin: 10px 0px 0px 0px;
	height: 70px;
	overflow: auto;
}

div#what_is_this p{
	font-size: 12px;
	margin: 2px;
}

div#graph_container{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: scroll;
}

div#graph{
	margin-top:100px;
	margin-bottom:30px;
}

div.bar{
	clear: both;
}

.bar span.rank{
	float:left;
	display: block;
	text-align: right;
	width: 27px;
	font-size: 10px;
	background: #EDF1FD;
	padding: 0 3px 8px 0;
}

.bar.odd span.rank{
	background: #fff;
}

.bar span.name{
	float:left;
	display: block;
	width: 115px;
	background: #EDF1FD;
	padding: 0;
	border-right: 1px dashed #666;
	overflow: hidden;
	white-space: nowrap;
}

.bar.odd span.name{
	background: #fff;
}

.bar span.name_id{
	cursor: pointer;
}

.bar span.score{
	white-space: nowrap;
	display: block;
	background: #eee;
	margin-left: 140px;
	padding-left: 20px;
}

.bar.odd span.score{
	background: #fff;
}

.bar span.score div{
	float:left;
	width: 16px;
	height: 16px;
}

.oodanna{
	color: #933;
}

.dannashu{
	color: #339;
}

.wakadanna{
	color: #393;
}

div#footer{
	width: 100%;
	background: #eee;
	position: absolute;
	border-top: 2px solid #ccc;
	height: 28px;
	bottom: 0px;
	right: 0px;
	z-index: 50;
	margin: 0 16px 0 0;
	padding-top: 3px;
}

div#footer form{
	font-size: 85%;
	margin: 0 0 0 20px;
}


div#card{
	position: absolute;
	width: 300px;
	height: 350px;
	right: 30px;
	bottom: 40px;
	background: #ffc;
	z-index: 100;
	border: 1px solid #993;
}

div#card div.header{
	padding: 5px;
	height: 59px;
	border-bottom: 1px solid #993;
}

div#card div.header img{
	margin-right: 5px;
	border: 1px solid #ccc;
	background: white;
	float: left;
}

div#card h2{
	margin:0 0 3px 0;
	padding:0;
}

div#card h2 a, div#card h2 a:visited{
	color: #993;
}

div#card div.cls{
	margin:0 0 0 70px;
	padding:0;
	color: #993;
	font-size: 90%;
}

div#card div.body{
	height: 270px;
	overflow: auto;
	background: #fff;
	padding: 5px;
}

div#card h3{
	margin:10px 0 0 0;
	font-size: 90%;
	font-weight: bold;
	color: #993;
}

div#card p{
	font-size: 85%;
	color: #333;
	margin: 0 0 0 10px;
}

div#card div.bkm{
	margin-left: 10px;
}

div#card div.entry{
	margin-bottom: 9px;
}

div#card div.entry div.link{
	font-size: 80%;
}

div#card div.entry div.link a img{
	border:0;
}

div#card div.entry div.comment{
	margin-top: 3px;
	color: green;
	font-size: 80%;
}

div#tooltip{
	position: relative;
	font-size: 90%;
	color: #003cb3;
	padding: 2px;
	background: #ffffff;
	border: 1px solid #9DC6FF;
	z-index: 200;
	width: 120px;
	filter: alpha(opacity:90);
	-moz-opacity: 0.9;
}