@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

body { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

body { font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Helvetica, Arial, Verdana, sans-serif; background: #fef9ef; }

code { font-family: "Courier New", "Andale Mono", monospace, serif; background: #f2f2f2; }

.synIdentifier { color: #900; }

.synStatement { color: #00f; }

.synComment { color: #080; }

.synConstant { color: #f00; }

.synType { color: #00f; }

strong { font-weight: normal; background: yellow; }

a.keyword { color: inherit; text-decoration: none; }

h1 { display: none; }

.clearfix { overflow: hidden; *zoom: 1; }

.wrap { text-align: center; clear: both; }
.wrap .wrapped { margin: 0 auto 0 auto; padding: 0; width: 45em; text-align: left; }

p.seemore a { padding-left: 22px; background: url("http://tech.nitoyon.com/img/icon/play_on.gif") center left no-repeat; }

div#header { background: white; border-bottom: 1px solid #dddddd; margin-bottom: 2em; -moz-box-shadow: 0px 0px 20px #dddddd; -webkit-box-shadow: 0px 0px 20px #dddddd; -o-box-shadow: 0px 0px 20px #dddddd; box-shadow: 0px 0px 20px #dddddd; }
div#header .wrapped { padding: 3em 0 3em 0; position: relative; }
div#header .wrapped #logo img { width: 421px; height: 110px; }
div#header .navi ul { position: absolute; right: 0; top: 0.2em; }
div#header .navi ul:hover a { color: #666666; }
div#header .navi ul li { display: inline; }
div#header .navi ul li a { color: #888888; padding: 0 0.5em; font-size: 0.9em; font-family: serif; text-decoration: none; }
div#header .navi ul li a:hover { color: #000000; text-shadow: #999999 0 0 0.1em; }

div.day { margin-bottom: 8em; }
div.day h2 { margin: 2em 0 0.8em 0; }
div.day h2 a { color: #666666; text-decoration: none; }
div.day div.caption { margin-top: 3em; font-size: 1em; color: #336699; }
div.day div.comment { margin-top: 2em; }
div.day div.comment div.commentshort { margin-top: 1em; }
div.day div.comment p { line-height: 1.5; position: relative; }
div.day div.comment p span.commentator a { color: black; }
div.day div.comment p img.hatena-id-icon { margin-right: 4px; }
div.day div.comment p span.timestamp { position: absolute; top: 0; right: 0; }
div.day div.comment p span.timestamp a { color: #888888; text-decoration: none; }
div.day div.comment p span.commentbody { display: block; margin: .8em 0 2em 0; padding: 1em; -webkit-border-radius: 1em 1em; -moz-border-radius: 1em / 1em; -o-border-radius: 1em / 1em; -ms-border-radius: 1em / 1em; -khtml-border-radius: 1em / 1em; border-radius: 1em / 1em; position: relative; background-color: white; border: .2em solid #cccccc; }
div.day div.comment p span.commentbody:before { content: "\00a0"; display: block; position: absolute; width: 0; height: 0; top: -2em; left: 0.8em; bottom: auto; border-width: 1em; border-style: solid; border-color: transparent transparent #cccccc transparent; }
div.day div.comment p span.commentbody:after { content: "\00a0"; display: block; position: absolute; width: 0; height: 0; top: -1.8em; left: 0.8em; bottom: auto; border-width: 1em; border-style: solid; border-color: transparent transparent white transparent; }
div.day div.comment div.captcha { margin: .5em 0; }
div.day div.refererlist { margin: 2em 0; }
div.day div.refererlist ul { margin: .5em 0 0 2em; list-style: disc outside; line-height: 1.2; }
div.day div.refererlist ul li { margin-bottom: .2em; }

div.body p.footnote { lineheight: 1.5; }
div.body div.ad { margin: 1em 0; }

div.section { margin-bottom: 2em; }
div.section + div.section { margin-top: 8em; }
div.section h3, div.section h4, div.section h5 { font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif; }
div.section h3 { margin-bottom: 3em; }
div.section h3 a { text-shadow: #cccccc 0.03em 0 0.08em; font-size: 2.4em; color: black; text-decoration: none; }
div.section h3 span.hatena-star-comment-container { padding-left: 1em; }
div.section p.sectionheader { text-align: right; margin: 0; color: #696; font-size: 0.9em; position: relative; top: -2em; }
div.section p.sectionheader a.sectioncategory { color: #696; background: url("http://f.hatena.ne.jp/images/fotolife/n/nitoyon/20070123/20070123095201.gif") no-repeat center left; padding: 0 0 0 20px; text-decoration: none; }
div.section p.seemore { margin: 1.5em 0 0 0; }
div.section p.sectionfooter { margin-top: 0; text-align: right; }
div.section p.sectionfooter img { padding: 0; background: transparent; border: 0; -webkit-border-radius: 0 0; -moz-border-radius: 0 / 0; -o-border-radius: 0 / 0; -ms-border-radius: 0 / 0; -khtml-border-radius: 0 / 0; border-radius: 0 / 0; -moz-box-shadow: 0 0 0 #cccccc; -webkit-box-shadow: 0 0 0 #cccccc; -o-box-shadow: 0 0 0 #cccccc; box-shadow: 0 0 0 #cccccc; }
div.section p.sectionfooter a { color: #666666; }
div.section p.sectionfooter.share-button { text-align: right; margin: 1em 0 0 0; }
div.section h4 { font-size: 1.8em; font-weight: bold; margin: 1.5em 0 0 0; }
div.section h5 { font-size: 1.2em; font-weight: bold; color: #336699; margin: 2em 0 0 0; position: relative; left: -0.15em; }
div.section h4 + h5 { margin-top: 1.4em; }
div.section p, div.section center { margin: 1em 0; line-height: 1.5; }
div.section p + p { margin-top: 1.3em; }
div.section p img, div.section center img, div.section embed { padding: 10px; background: white; border: 1px solid #cccccc; -webkit-border-radius: 6px 6px; -moz-border-radius: 6px / 6px; -o-border-radius: 6px / 6px; -ms-border-radius: 6px / 6px; -khtml-border-radius: 6px / 6px; border-radius: 6px / 6px; -moz-box-shadow: 0px 4px 10px #cccccc; -webkit-box-shadow: 0px 4px 10px #cccccc; -o-box-shadow: 0px 4px 10px #cccccc; box-shadow: 0px 4px 10px #cccccc; }
div.section ul, div.section ol { margin: 1em 0 1em 1.5em; }
div.section li ul, div.section li ol { margin: 0 0 0 1em; }
div.section ol { list-style: decimal outside; }
div.section ul { list-style: disc outside; }
div.section ul ul { list-style: circle outside; }
div.section li { margin: .4em 0 .4em 1.0em; line-height: 1.5; }
div.section dl { margin: 1em; }
div.section dl dt { color: #336699; font-weight: bold; margin: 0.2em 0; }
div.section dl dd { margin: 0.2em 0 0.2em 2em; line-height: 1.5; }
div.section blockquote { margin: 1em 0; background: white; border: .4em solid #cccccc; -webkit-border-radius: 1em 1em; -moz-border-radius: 1em / 1em; -o-border-radius: 1em / 1em; -ms-border-radius: 1em / 1em; -khtml-border-radius: 1em / 1em; border-radius: 1em / 1em; padding: 0 1em; }
div.section blockquote cite { display: block; font-size: 0.9em; text-align: right; padding-bottom: 0.5em; }
div.section pre { font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif; margin: 1em 0; background: white; border: .4em solid #cccccc; -webkit-border-radius: 1em 1em; -moz-border-radius: 1em / 1em; -o-border-radius: 1em / 1em; -ms-border-radius: 1em / 1em; -khtml-border-radius: 1em / 1em; border-radius: 1em / 1em; padding: 1em; overflow: visible; /*\*/ overflow: auto; /**/ }
div.section div.fix-height-syntax pre { height: 20em; }
div.section table { border: 1px solid #666666; border-collapse: collapse; -moz-box-shadow: 0px 4px 10px #cccccc; -webkit-box-shadow: 0px 4px 10px #cccccc; -o-box-shadow: 0px 4px 10px #cccccc; box-shadow: 0px 4px 10px #cccccc; border-spacing: 0; margin-left: 2em; }
div.section table th, div.section table td { padding: 0.5em 1em; border: 1px solid #666666; }
div.section table th { font-weight: bold; background: #eeeee9; }
div.section table td { background: white; }
div.section div.seealso h4 { background: #e6e6e6; border: 0; padding: .4em; margin: 2em 0 .5em 0; color: black; font-weight: normal; font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Helvetica, Arial, Verdana, sans-serif; font-size: 100%; font-family: selif; }
div.section div.seealso ul { margin: 0; padding: 0; }
div.section div.seealso ul li { background: url("http://tech.nitoyon.com/img/icon/item.gif") no-repeat 4px top; display: block; padding-left: 24px; margin: .2em 0; }
div.section div.hatena-asin-detail { margin: 1em; padding: 1em; border: .4em solid #cccccc; -webkit-border-radius: 1em 1em; -moz-border-radius: 1em / 1em; -o-border-radius: 1em / 1em; -ms-border-radius: 1em / 1em; -khtml-border-radius: 1em / 1em; border-radius: 1em / 1em; background: white; }
div.section div.hatena-asin-detail img.hatena-asin-detail-image { float: left; border: 0; margin: 0 10px 0 0; }
div.section div.hatena-asin-detail div.hatena-asin-detail-info { margin: 0 0 0 140px; word-break: break-all; }
div.section div.hatena-asin-detail div.hatena-asin-detail-info p.hatena-asin-detail-title { font-weight: bold; width: 100%; margin: 0; }
div.section div.hatena-asin-detail div.hatena-asin-detail-info ul { list-style-type: none; margin: 5px 0 0 0; padding: 0; }
div.section div.hatena-asin-detail div.hatena-asin-detail-info ul li { margin: 0; padding: 0; }
div.section div.hatena-asin-detail p a { border: 0; }
div.section div.twitter-detail { margin: 1em; padding: 1em 1em 0.5em 1em; border: .4em solid #cccccc; -webkit-border-radius: 1em 1em; -moz-border-radius: 1em / 1em; -o-border-radius: 1em / 1em; -ms-border-radius: 1em / 1em; -khtml-border-radius: 1em / 1em; border-radius: 1em / 1em; background: white; }
div.section div.twitter-detail .twitter-detail-user { float: left; border: 0; margin: 0 10px 0 0; }
div.section div.twitter-detail div.twitter-detail-tweet { margin: 0 0 0 60px; }
div.section div.twitter-detail div.twitter-detail-tweet p.twitter-detail-text { margin: 0; }
div.section div.twitter-detail div.twitter-detail-tweet p.twitter-detail-info { font-size: 0.9em; text-align: right; margin: 1em 0 0 0; color: #888888; }
div.section div.twitter-detail div.twitter-detail-tweet p.twitter-detail-info a { color: #888888; }

div#pager-top { display: none; }

div#pager-bottom { margin-top: -2em; }

div#footer { margin-top: 2em; background: #e9e9e9; -moz-box-shadow: 0px 0px 20px #aaaaaa; -webkit-box-shadow: 0px 0px 20px #aaaaaa; -o-box-shadow: 0px 0px 20px #aaaaaa; box-shadow: 0px 0px 20px #aaaaaa; }
div#footer div.wrapped { width: 45em; padding: 2em 0 0 0; }
div#footer h3 { font-size: 1.1em; color: #336699; font-family: "Warnock Pro", "Goudy Old Style", "Palatino", "Book Antiqua", Georgia, serif; font-weight: bold; margin-bottom: .4em; text-shadow: white 0 1px 1px, #0d1926 0 -1px 1px; }
div#footer #recententries { width: 21.5em; }
div#footer #recententries div.hatena-module-section div.hatena-moduletitle a { display: none; }
div#footer #recententries div.hatena-module-section ul li { border-bottom: #dcdcdc solid 1px; }
div#footer #recententries div.hatena-module-section ul li a { display: block; color: black; text-decoration: none; padding: .4em .4em .4em 24px; line-height: 1.4; background: url("http://tech.nitoyon.com/img/icon/item.gif") no-repeat 4px 4px; -webkit-border-radius: 0.5em 0.5em; -moz-border-radius: 0.5em / 0.5em; -o-border-radius: 0.5em / 0.5em; -ms-border-radius: 0.5em / 0.5em; -khtml-border-radius: 0.5em / 0.5em; border-radius: 0.5em / 0.5em; }
div#footer #recententries div.hatena-module-section ul li a:hover { text-decoration: underline; background-color: white; }
div#footer #profile { width: 21.5em; float: right; }
div#footer #profile a#prof_pic img { width: 64px; height: 56px; float: left; }
div#footer #profile p { margin: 0 0 .7em 74px; line-height: 1.3; }
div#footer .calendar { line-height: 1.8; }
div#footer .calendar span.year { color: #888888; font-weight: bold; }
div#footer .calendar span.year:after { content: "年: "; }
div#footer .calendar a.month { color: #000000; text-decoration: none; padding: 0 0.3em; }
div#footer .calendar a.month:hover { background: white; -webkit-border-radius: 0.5em 0.5em; -moz-border-radius: 0.5em / 0.5em; -o-border-radius: 0.5em / 0.5em; -ms-border-radius: 0.5em / 0.5em; -khtml-border-radius: 0.5em / 0.5em; border-radius: 0.5em / 0.5em; text-decoration: underline; }
div#footer .calendar a.month:after { content: "月"; }
div#footer .calendar span.delimiter { display: none; }
div#footer div.copy { margin-top: 2em; padding: 1em 0; font-size: 0.8em; font-weight: bold; background: #505050; color: white; -moz-box-shadow: 0px 0px 20px #888888; -webkit-box-shadow: 0px 0px 20px #888888; -o-box-shadow: 0px 0px 20px #888888; box-shadow: 0px 0px 20px #888888; }
