@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

body { font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Helvetica, Arial, Verdana, sans-serif; line-height: 1.2; background: #fef9ef; -webkit-text-size-adjust: 100%; }

h1, h2, h3, h4, h5 { font-family: "Warnock Pro", "Goudy Old Style", "Palatino", "Book Antiqua", Georgia, serif; }

code { font-family: "Courier New", "Andale Mono", monospace, serif; background: #f2f2f2; }

.synIdentifier { color: #900; }

.synStatement { color: #00f; }

.synComment { color: #080; }

.synConstant { color: #f00; }

.synType { color: #00f; }

strong { font-weight: normal; background: yellow; }

a.keyword { color: inherit; text-decoration: none; }

del, s { color: #999999; }

sub { font-size: smaller; }

sup { vertical-align: super; font-size: smaller; }

.clearfix { overflow: hidden; *zoom: 1; }

.center { text-align: center; }

.right { text-align: right; }

footer.page-footer, .wrap { text-align: center; clear: both; }

.wrapped { margin: 0 auto; padding: 0 0.5em; width: 45em; text-align: left; }
@media screen and (max-width: 45.5em) { .wrapped { width: auto; } }

p.seemore a { padding-left: 22px; background: url("http://tech.nitoyon.com/img/icon/play_on.gif") center left no-repeat; }

header.page-header { background: white; border-bottom: 1px solid #dddddd; margin-bottom: 1em; -webkit-box-shadow: 0px 0px 20px #dddddd; -moz-box-shadow: 0px 0px 20px #dddddd; box-shadow: 0px 0px 20px #dddddd; }
header.page-header .wrapped { padding-top: 3em; padding-bottom: 1.8em; position: relative; }
header.page-header .wrapped h1 a { display: block; text-indent: -9999px; overflow: hidden; width: 426px; height: 121px; }
@media screen and (max-width: 480px) { header.page-header .wrapped h1 a { -webkit-background-size: 213px, 60px; -moz-background-size: 213px, 60px; -o-background-size: 213px, 60px; background-size: 213px, 60px; width: 213px; height: 60px; } }
header.page-header .wrapped h1 a#logo-blog-en { background-image: url("/images/logo-blog-en.png"); }
header.page-header .wrapped h1 a#logo-blog-ja { background-image: url("/images/logo-blog-ja.png"); }
header.page-header .wrapped h1 a#logo-en { background-image: url("/images/logo-en.png"); }
header.page-header .wrapped h1 a#logo-ja { background-image: url("/images/logo-ja.png"); }
header.page-header nav ul { position: absolute; right: 0; top: 0.2em; }
header.page-header nav ul:hover a { color: #666666; }
header.page-header nav ul li { display: inline; }
header.page-header nav ul li a { color: #888888; padding: 0 0.5em; font-size: 0.9em; font-family: serif; text-decoration: none; }
header.page-header nav ul li a:hover { color: #000000; text-shadow: 0 0 0.1em #999999; }

div.entry { position: relative; }
@media screen and (max-width: 480px) { div.entry { padding-top: 250px; } }

div#post-ad { margin-bottom: 1em; }
div#post-ad div#post-ad1 { float: left; }
@media screen and (max-width: 480px) { div#post-ad div#post-ad1 { float: none; position: absolute; top: 0; } }
div#post-ad div#post-ad2 { margin-left: 330px; }
@media screen and (max-width: 480px) { div#post-ad div#post-ad2 { margin-left: 0; } }

div.entry-body { margin-top: 3em; margin-bottom: 2em; }

body.ja article h1, body.ja article h2, body.ja article h3, body.ja article h4, body.ja article h5 { font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif; }

article header { margin-top: 2em; margin-bottom: 1em; }
article header h2 { font-size: 1.2em; margin-bottom: .2em; color: #888888; font-weight: normal; }
article header h1 { margin: 0 0 .5em 0; text-shadow: 0.03em 0 0.08em #cccccc; font-size: 2.4em; font-weight: normal; color: black; text-decoration: none; }

article p.sectionheader { text-align: right; margin: 0; color: #696; font-size: 0.9em; position: relative; top: -2em; }
article p.sectionheader a.sectioncategory { color: #696; background: url("http://f.hatena.ne.jp/images/fotolife/n/nitoyon/20070123/20070123095201.gif") no-repeat center left; padding: 0 0 0 20px; text-decoration: none; }
article h1 { font-size: 1.8em; font-weight: bold; margin: 1.5em 0 0 0; }
article h2 { font-size: 1.2em; font-weight: bold; color: #336699; margin: 2em 0 0 0; position: relative; left: -0.15em; }
article h1 + h2 { margin-top: 1.4em; }
article p, article center { margin: 1em 0; line-height: 1.5; }
article p + p { margin-top: 1.3em; }
article p img, article center img, article iframe.youtube { padding: 10px; background: white; border: 1px solid #cccccc; -webkit-border-radius: 6px 6px; -moz-border-radius: 6px / 6px; border-radius: 6px / 6px; -webkit-box-shadow: 0px 4px 10px #cccccc; -moz-box-shadow: 0px 4px 10px #cccccc; box-shadow: 0px 4px 10px #cccccc; }
@media screen and (max-width: 480px) { article p img, article center img, article iframe.youtube { max-width: 100%; height: auto; width: auto\9; background: transparent; padding: 0; border: 0; -webkit-border-radius: 0 0; -moz-border-radius: 0 / 0; border-radius: 0 / 0; } }
article img.tex, article img.no-border, article img.http-bookmark, article img.hatena-id-icon { background: transparent; padding: 0; border: 0; -webkit-border-radius: 0 0; -moz-border-radius: 0 / 0; border-radius: 0 / 0; -webkit-box-shadow: 0 0 0 #cccccc; -moz-box-shadow: 0 0 0 #cccccc; box-shadow: 0 0 0 #cccccc; }
article img.hatena-id-icon { padding-right: .2em; }
article ul, article ol { margin: 1em 0 1em 1.5em; }
article li ul, article li ol { margin: 0 0 0 1em; }
article ol { list-style: decimal outside; }
article ul { list-style: disc outside; }
article ul ul { list-style: circle outside; }
article li { margin: .4em 0 .4em 1.0em; line-height: 1.5; }
article dl { margin: 1em; }
article dl dt { color: #336699; font-weight: bold; margin: 0.2em 0; }
article dl dd { margin: 0.2em 0 0.2em 2em; line-height: 1.5; }
article blockquote { margin: 1em 0; background: white; border: .4em solid #cccccc; -webkit-border-radius: 1em 1em; -moz-border-radius: 1em / 1em; border-radius: 1em / 1em; padding: 0 1em; }
article blockquote cite { display: block; font-size: 0.9em; text-align: right; padding-bottom: 0.5em; }
article pre { font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif; margin: 1em 0; background: white; border: .4em solid #cccccc; -webkit-border-radius: 1em 1em; -moz-border-radius: 1em / 1em; border-radius: 1em / 1em; padding: 1em; overflow: visible; /*\*/ overflow: auto; /**/ }
article div.highlight pre { max-height: 25em; }
@media screen and (max-width: 480px) { article div.highlight pre { max-height: none; } }
article pre code { background: inherit; }
article div.fix-height-syntax pre { height: 20em; }
article table { border: 1px solid #666666; border-collapse: collapse; -webkit-box-shadow: 0px 4px 10px #cccccc; -moz-box-shadow: 0px 4px 10px #cccccc; box-shadow: 0px 4px 10px #cccccc; border-spacing: 0; margin: 1em 1em 1em 2em; }
article table th, article table td { padding: 0.5em 1em; border: 1px solid #666666; }
article table th { font-weight: bold; background: #eeeee9; text-align: center; }
article table td { background: white; }
article div.seealso h4 { background: #e6e6e6; border: 0; padding: .4em; margin: 2em 0 .5em 0; color: black; font-weight: normal; font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Helvetica, Arial, Verdana, sans-serif; font-size: 100%; font-family: selif; }
article div.seealso ul { margin: 0; padding: 0; }
article div.seealso ul li { background: url("http://tech.nitoyon.com/img/icon/item.gif") no-repeat 4px top; display: block; padding-left: 24px; margin: .2em 0; }
article div.hatena-asin-detail { margin: 1em; padding: 1em; border: .4em solid #cccccc; -webkit-border-radius: 1em 1em; -moz-border-radius: 1em / 1em; border-radius: 1em / 1em; background: white; }
article div.hatena-asin-detail img.hatena-asin-detail-image { float: left; border: 0; margin: 0 10px 0 0; }
article div.hatena-asin-detail div.hatena-asin-detail-info { margin: 0 0 0 140px; word-break: break-all; }
article div.hatena-asin-detail div.hatena-asin-detail-info p.hatena-asin-detail-title { font-weight: bold; width: 100%; margin: 0; }
article div.hatena-asin-detail div.hatena-asin-detail-info ul { list-style-type: none; margin: 5px 0 0 0; padding: 0; }
article div.hatena-asin-detail div.hatena-asin-detail-info ul li { margin: 0; padding: 0; }
article div.hatena-asin-detail div.hatena-asin-detail-foot { clear: both; }
article div.hatena-asin-detail p a { border: 0; }
article div.twitter-detail { margin: 1em; padding: 1em 1em 0.5em 1em; border: .4em solid #cccccc; -webkit-border-radius: 1em 1em; -moz-border-radius: 1em / 1em; border-radius: 1em / 1em; background: white; }
article div.twitter-detail .twitter-detail-user { float: left; border: 0; margin: 0 10px 0 0; }
article div.twitter-detail div.twitter-detail-tweet { margin: 0 0 0 60px; }
article div.twitter-detail div.twitter-detail-tweet p.twitter-detail-text { margin: 0; }
article div.twitter-detail div.twitter-detail-tweet p.twitter-detail-info { font-size: 0.9em; text-align: right; margin: 1em 0 0 0; color: #888888; }
article div.twitter-detail div.twitter-detail-tweet p.twitter-detail-info a { color: #888888; }
article .fb-like-box { background: white; }
article table.gadget { border-collapse: separate; border: 1px solid #666666; }
article table.gadget td { border: none; padding: 0 .5em; }
article table.gadget td img { padding: 0; background: transparent; border: 0; -webkit-border-radius: 0 0; -moz-border-radius: 0 / 0; border-radius: 0 / 0; -webkit-box-shadow: 0 0 0 #cccccc; -moz-box-shadow: 0 0 0 #cccccc; box-shadow: 0 0 0 #cccccc; }

.share { margin-bottom: 1em; *zoom: 1; }
.share:after { content: ""; display: table; clear: both; }
.share .hatena-bookmark-button-frame, .share .twitter-share-button, .share div.fb-like { float: left; padding-right: 1em; }
.share .twitter-share-button { padding-right: .2em; }

.ja .share .twitter-share-button { width: 105px!important; }

.en .share .twitter-share-button { width: 85px!important; }

div.bottom-share { margin: 1em 0 1em 0; }

div#pager-bottom { margin: 2em 0 2.5em 0; clear: both; }

article ul.posts { list-style: none; margin: 0; }
article ul.posts li { margin-left: 0; }
@media screen and (max-width: 45.5em) { article ul.posts li a { display: block; padding-bottom: .8em; } }
article ul.posts span.date { font-family: Monaco, "Courier New", monospace; }

#aboutme { margin-top: 1em; }
#aboutme img#aboutme_pic { float: left; padding: 5px; width: 200px; height: 150px; background: white; border: 1px solid #eeeeee; -webkit-border-radius: 6px 6px; -moz-border-radius: 6px / 6px; border-radius: 6px / 6px; -webkit-box-shadow: 0px 4px 10px #eeeeee; -moz-box-shadow: 0px 4px 10px #eeeeee; box-shadow: 0px 4px 10px #eeeeee; }
@media screen and (max-width: 480px) { #aboutme img#aboutme_pic { float: right; margin: 0 0 .5em .5em; width: 100px; height: 75px; } }
#aboutme div#aboutme_text { margin-left: 240px; }
@media screen and (max-width: 480px) { #aboutme div#aboutme_text { margin-left: 0; } }
#aboutme h2:first-child { margin-top: .8em; }
#aboutme p { margin: .8em 0; }
#aboutme h2 { margin-top: 1.5em; }
#aboutme div.icons { margin-top: .5em; }

#about-logo { margin-top: 1em; }
#about-logo img { float: left; margin: 0 10px 10px 0; width: 114px; height: 114px; }
@media screen and (max-width: 480px) { #about-logo img { width: 57px; height: 57px; } }
#about-logo div#about-logo-text { margin-left: 124px; }
@media screen and (max-width: 480px) { #about-logo div#about-logo-text { margin-left: 0; } }
#about-logo p { margin: .8em 0; }

footer.page-footer { margin-top: 3.5em; background: #e9e9e9; -webkit-box-shadow: 0px 0px 20px #aaaaaa; -moz-box-shadow: 0px 0px 20px #aaaaaa; box-shadow: 0px 0px 20px #aaaaaa; }
footer.page-footer h2 { margin: 0; display: none; }
footer.page-footer .wrapped { padding-top: 1.5em; }
footer.page-footer h3 { font-size: 1.1em; color: #336699; font-family: "Warnock Pro", "Goudy Old Style", "Palatino", "Book Antiqua", Georgia, serif; font-weight: bold; margin-bottom: .4em; text-shadow: white 0 1px 1px, #0d1926 0 -1px 1px; }
footer.page-footer div.column { width: 21.5em; }
@media screen and (max-width: 45.5em) { footer.page-footer div.column { width: auto; } }
footer.page-footer #recententries ul li { border-bottom: gainsboro solid 1px; }
footer.page-footer #recententries ul li a { display: block; color: black; text-decoration: none; padding: .4em .4em .4em 24px; line-height: 1.4; background: url("http://tech.nitoyon.com/img/icon/item.gif") no-repeat 4px 4px; -webkit-border-radius: 0.5em 0.5em; -moz-border-radius: 0.5em / 0.5em; border-radius: 0.5em / 0.5em; }
footer.page-footer #recententries ul li a:hover { text-decoration: underline; background-color: white; }
footer.page-footer #footer-right-column { float: right; }
@media screen and (max-width: 45.5em) { footer.page-footer #footer-right-column { float: none; } }
footer.page-footer #profile { margin-bottom: 1.5em; }
footer.page-footer #profile a#prof_pic img { width: 64px; height: 56px; float: left; }
footer.page-footer #profile p { margin: 0 0 .7em 74px; line-height: 1.3; }
footer.page-footer #subscribe li { display: inline; float: left; }
footer.page-footer #subscribe li a { display: block; width: 32px; height: 32px; text-indent: -9999px; margin-right: 4px; }
footer.page-footer #archive { clear: both; }
footer.page-footer #archive_month_list { line-height: 1.8; }
footer.page-footer #archive_month_list a.year { color: #888888; padding: .1em .3em; font-weight: bold; text-decoration: none; }
footer.page-footer #archive_month_list a.month { padding: .1em .3em; color: #000000; text-decoration: none; padding: 0 0.3em; }
footer.page-footer #archive_month_list a:hover { background: white; -webkit-border-radius: 0.5em 0.5em; -moz-border-radius: 0.5em / 0.5em; border-radius: 0.5em / 0.5em; text-decoration: underline; }
footer.page-footer #archive_month_list span.delimiter { display: none; }
footer.page-footer div.copy { margin-top: 1.5em; padding: 1em 0; font-size: 0.8em; font-weight: bold; background: #505050; color: white; -webkit-box-shadow: 0px 0px 20px #888888; -moz-box-shadow: 0px 0px 20px #888888; box-shadow: 0px 0px 20px #888888; }

.twitter-icon32 { background: url("/images/profiles/twitter.gif") no-repeat left top; }

.facebook-icon32 { background: url("/images/profiles/facebook.gif") no-repeat left top; }

.rss-icon32 { background: url("/images/profiles/rss.png") no-repeat left top; }

.highlight .hll { background-color: #ffffcc; }

.highlight { background: #f8f8f8; }

.highlight .c { color: #408080; font-style: italic; }

.highlight .err { border: 1px solid #FF0000; }

.highlight .k { color: #008000; font-weight: bold; }

.highlight .o { color: #666666; }

.highlight .cm { color: #408080; font-style: italic; }

.highlight .cp { color: #BC7A00; }

.highlight .c1 { color: #408080; font-style: italic; }

.highlight .cs { color: #408080; font-style: italic; }

.highlight .gd { color: #A00000; }

.highlight .ge { font-style: italic; }

.highlight .gr { color: #FF0000; }

.highlight .gh { color: #000080; font-weight: bold; }

.highlight .gi { color: #00A000; }

.highlight .go { color: #808080; }

.highlight .gp { color: #000080; font-weight: bold; }

.highlight .gs { font-weight: bold; }

.highlight .gu { color: #800080; font-weight: bold; }

.highlight .gt { color: #0040D0; }

.highlight .kc { color: #008000; font-weight: bold; }

.highlight .kd { color: #008000; font-weight: bold; }

.highlight .kn { color: #008000; font-weight: bold; }

.highlight .kp { color: #008000; }

.highlight .kr { color: #008000; font-weight: bold; }

.highlight .kt { color: #B00040; }

.highlight .m { color: #666666; }

.highlight .s { color: #BA2121; }

.highlight .na { color: #7D9029; }

.highlight .nb { color: #008000; }

.highlight .nc { color: #0000FF; font-weight: bold; }

.highlight .no { color: #880000; }

.highlight .nd { color: #AA22FF; }

.highlight .ni { color: #999999; font-weight: bold; }

.highlight .ne { color: #D2413A; font-weight: bold; }

.highlight .nf { color: #0000FF; }

.highlight .nl { color: #A0A000; }

.highlight .nn { color: #0000FF; font-weight: bold; }

.highlight .nt { color: #008000; font-weight: bold; }

.highlight .nv { color: #19177C; }

.highlight .ow { color: #AA22FF; font-weight: bold; }

.highlight .w { color: #bbbbbb; }

.highlight .mf { color: #666666; }

.highlight .mh { color: #666666; }

.highlight .mi { color: #666666; }

.highlight .mo { color: #666666; }

.highlight .sb { color: #BA2121; }

.highlight .sc { color: #BA2121; }

.highlight .sd { color: #BA2121; font-style: italic; }

.highlight .s2 { color: #BA2121; }

.highlight .se { color: #BB6622; font-weight: bold; }

.highlight .sh { color: #BA2121; }

.highlight .si { color: #BB6688; font-weight: bold; }

.highlight .sx { color: #008000; }

.highlight .sr { color: #BB6688; }

.highlight .s1 { color: #BA2121; }

.highlight .ss { color: #19177C; }

.highlight .bp { color: #008000; }

.highlight .vc { color: #19177C; }

.highlight .vg { color: #19177C; }

.highlight .vi { color: #19177C; }

.highlight .il { color: #666666; }
