---
layout: default
lang: ja
title: てっく煮
---
<article>
<h1>作品</h1>
<dl>
<dt><a href="blog/2021/10/19/calc-card/">小学一年生向けの「けいさんカード」アプリ</a>></dt>
<dd>面倒な計算カードの宿題を簡単に。</dd>
<dt>{% post_link 2012-04-20-uncopyable %}</dt>
<dd>一見、コピーできるように見えますが、ペーストしてみると・・・。</dd>
<dt><a href="/javascript/application/racing/1/">Google Maps でレーシング</a></dt>
<dd>Google Maps API を利用した便利なサービスが数々発表されているけど、別に遊びのために活用してもいいよね。そんな思いから、Google Mapsをレーシングゲームに応用してみました。</dd>
<dt><a href="/javascript/application/texthatena/download.html">text-hatena.js</a></dt>
<dd>CPAN で公開されている Text::Hatena を JavaScript に移植してみました。</dd>
</dl>

<h1>ブログ</h1>
{% include set-locale.html %}{% include post-list.html limit='20' %}

</article>