<!doctype html>
<html lang="{{page.lang}}">
{% if page.url contains '/blog/' %}{% assign is_blog = 1 %}{% endif %}
{% capture sub_title %}{% if is_blog %}{{'blog_name'|t}}{% else %}{{'site_name'|t}}{% endif %}{% endcapture %}
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{{ page.title | escape }}{% if page.url contains '/blog/' %}{% if page.url contains '/blog/index.html' %}{% else %} - {{'blog_name'|t}}{% endif %}{% endif %}</title>
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" />
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
	<meta property="og:title" content="{{ page.title | escape  }}"/>
	<meta property="og:url" content="http://tech.nitoyon.com{{ page.url | remove: 'index.html' }}"/>
	<meta property="og:type" content="{% if page.url == '/en/index.html' %}website{% elsif page.url == '/en/blog/index.html' %}blog{% else %}article{% endif %}"/>
	<meta property="og:description" content="{{ page.raw.content | strip_newlines | strip_html | truncatewords: 40 | truncate: 300 | escape }}"/>
	<meta property="og:image" content="{% if page.thumbnail != null %}{{ page.thumbnail }}{% else %}http://tech.nitoyon.com/apple-touch-icon-114x114.png{% endif %}"/>
	<meta property="og:site_name" content="{{ sub_title }}"/>
	<meta property="fb:admins" content="1297551349" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<link rel="alternate" type="application/rss+xml" title="RSS" href="/{{ page.lang }}/blog/index.xml" />{% if page.alternate %}
	<link rel="alternate" hreflang="{{page.alternate.lang }}" href="http://tech.nitoyon.com{{ page.alternate.url }}">{% endif %}
</head>
<body class="{{page.lang}}">
<header class="wrap page-header">
<div class="wrapped">
	<h1 id="logo">
		{% if is_blog %}
		<a href="/{{page.lang}}/blog/" id="logo-blog-{{page.lang}}">{{sub_title}}</a>
		{% else %}
		<a href="/{{page.lang}}/" id="logo-{{page.lang}}"">{{sub_title}}" src="/images/logo-{{page.lang}}.png" id="logo_img"></a>
		{% endif %}
	</h1>
	<nav>
		<ul>
<li class="home"><a href="/{{page.lang}}/">HOME</a></li><li class="about"><a href="/{{ page.lang }}/about/">ABOUT</a></li><li class="blog"><a href="/ja/blog/">BLOG(ja)</a></li><li class="blog-en"><a href="/en/blog/">BLOG(en)</a></li>
		</ul>
	</nav>
</div>
</header>
<div class="wrap">
<div class="wrapped">
{% if page.alternate.lang == 'ja_JP' or page.alternate.lang == 'ja' %}
<div id="alternate-ja-notice" class="alternate-notice">
<a href="{{page.alternate.url}}">このページには日本語版があります。ぜひ <span>http://tech.nitoyon.com{{page.alternate.url}}</span> をご覧ください。</a>
</div>
{% elsif page.alternate.lang == 'en_US' or page.alternate.lang == 'en' %}
<div id="alternate-en-notice" class="alternate-notice">
<a href="{{page.alternate.url}}">English Translation is Available at <span>http://tech.nitoyon.com{{page.alternate.url}}</span>.</a>
</div>
{% endif %}
{{content}}

</div>
</div>

{% include footer.html %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="/{{page.lang}}/posts.js"></script>
<script src="/javascripts/techni.js"></script>
<div id="fb-root"></div>
</body>
</html>