<!doctype html>
<html lang="{{page.lang}}">
{% if page.url contains '/blog/' %}{% assign is_blog = 1 %}{% endif %}
{% capture sub_title %}{% if is_blog %}{{'blog_name'|t}}{% else %}{{'site_name'|t}}{% endif %}{% endcapture %}
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{{ page.title | escape }}{% if page.url contains '/blog/2' %} - {{'blog_name'|t}}{% endif %}</title>
	<link rel="stylesheet" href="/stylesheets/screen.css" type="text/css" />
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
	<meta property="og:title" content="{{ page.title | escape  }}"/>
	<meta property="og:url" content="http://tech.nitoyon.com{{ page.url | remove: 'index.html' }}"/>
	<meta property="og:type" content="{% if page.url == '/en/index.html' %}website{% elsif page.url == '/en/blog/index.html' %}blog{% else %}article{% endif %}"/>
	<meta property="og:description" content="{{ page.raw.content | strip_html | strip_newlines | truncatewords: 40 | truncate: 300 | escape }}"/>
	<meta property="og:image" content="http://tech.nitoyon.com/apple-touch-icon-114x114.png"/>
	<meta property="og:site_name" content="{{ sub_title }}"/>
	<meta property="fb:admins" content="1297551349" />
	<link rel="alternate" type="application/rss+xml" title="RSS" href="/{{ page.lang }}/blog/index.xml" />
</head>
<body class="{{page.lang}}">
<header class="wrap page-header">
<div class="wrapped">
	<h1 id="logo">
		{% if is_blog %}
		<a href="/{{page.lang}}/blog/" id="logo-blog-{{page.lang}}">{{sub_title}}</a>
		{% else %}
		<a href="/{{page.lang}}/" id="logo-{{page.lang}}"">{{sub_title}}" src="/images/logo-{{page.lang}}.png" id="logo_img"></a>
		{% endif %}
	</h1>
	<nav>
		<ul>
<li class="home"><a href="/{{page.lang}}/">HOME</a></li><li class="about"><a href="http://tech.nitoyon.com/about.html">ABOUT</a></li><li class="blog"><a href="http://d.hatena.ne.jp/nitoyon/" class="current">BLOG(ja)</a></li><li class="blog-en"><a href="/en/blog/">BLOG(en)</a></li><li class="contact"><a href="/contact.html">CONTACT</a></li>
		</ul>
	</nav>
</div>
</header>
<div class="wrap">
<div class="wrapped">

{{content}}

</div>
</div>

{% include footer.html %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="/{{page.lang}}/posts.js"></script>
<script src="/javascripts/techni.js"></script>
<div id="fb-root"></div>
</body>
</html>