---
layout: default
---
<article>
<header>
<hgroup>
<h2>{{ page.date | date_to_string }}</h2>
<h1>{{ page.title }}</h1>
</hgroup>

{% include share-buttons.html %}
</header>

<div class="entry-body">
{% if content contains '</h1>' %}<section>
{{ content }}
</section>
{% else %}
{{ content }}
{% endif %}
</div>

<div id="pager-bottom">
	{% include share-buttons.html %}

	{% if page.previous.url %}
		&laquo;&nbsp;<a href="{{ page.previous.url }}" rel="previous">{{ page.previous.title }}</a>
	{% endif %}

	{% if page.next.url and page.previous.url %}|{% endif %}

	{% if page.next.url %}
		<a href="{{ page.next.url }}" rel="next">{{ page.next.title }}&nbsp;&raquo;</a>
	{% endif %}
</div>

</article>