---
layout: default
---
{% include set-locale.html %}<article>
<header>
<div class="post-date">{{ page.date | date: locale.date }}</div>
{% include post-tags.html %}

<h1>{{ page.title | escape }}</h1>

{% include share-buttons.html %}
</header>

<div id="entry">
<div class="entry-body">
{% if content contains '</h1>' %}<section>
{{ content }}
</section>
{% else %}
{{ content }}
{% endif %}
</div>

<footer>

<div id="post-ad">
{% include adsense-posts.html %}
</div>

<div class="share">
{% include share-buttons.html %}
</div>

<div class="entry-data">
<div class="post-date">{{ page.date | date:locale.date }} <span class="edit-history"><a href="https://github.com/nitoyon/tech.nitoyon.com/commits/master/{{ page.path }}">{{locale['post.history']}}</a></span></div>
{% include post-tags.html %}
</div>

{% if page.toc %}
<div class="toc">
<h4>{{ locale['post.toc'] }}</h4>
<ul>
{% for post in page.toc %}
<li>{% if post == page.url or page.path contains post %}{{ page.title}}{% else %}{% post_link %}{% endif %}</li>
{% endfor %}
</ul>
</div>
{% endif %}{% if page.seealso %}
<div class="seealso">
<h4>{{ locale['post.seealso'] }}</h4>
<ul>
{% for post in page.seealso %}
<li>{% post_link %}</li>
{% endfor %}
</ul>
</div>
{% endif %}

<div id="pager">
	{% if page.previous.url %}
	<div class="previous">
		<a href="{{ page.previous.url }}" rel="previous"><b>&laquo;</b><span class="title">{{ page.previous.title | escape }}</span></a>
	</div>
	{% endif %}
	{% if page.next.url %}
	<div class="next">
		<a href="{{ page.next.url }}" rel="next"><span class="title">{{ page.next.title | escape }}</span><b>&raquo;</b></a>
	</div>
	{% endif %}
</div>

{% include disqus_comment.html %}
</footer>
</div><!--entry-->

</article>