---
layout: default
---
<div class="day">
<h2><a href="http://d.hatena.ne.jp/nitoyon/20120301" rel="nofollow"><span class="date">{{ page.date | date_to_string }}</span></a></h2>

<div class="body">
<div class="section">
<h3><a href="#">{{ page.title }}</a></h3>
{{ content }}
</div>

<div>
	{% if page.next.url %}
		&laquo;&nbsp;<a href="{{ page.next.url }}" rel="next" title="{{ page.next.title }}">{{ page.next.title }}</a>
	{% endif %}

	{% if page.next.url %}
		{% if page.previous.url %}
			|
		{% endif %}
	{% endif %}


	{% if page.previous.url %}
		<a href="{{ page.previous.url }}" rel="previous" title="{{ page.previous.title }}">{{ page.previous.title }}</a>&nbsp;&raquo;
	{% endif %}
</div>

</div>
</div>