*{
  margin: 0;
  padding: 0;
}

html, body{
}
body{
  margin: 10px;
}

#header {
  text-indent: -999px;
  height: 60px;
  background: url('title.png') no-repeat 2px 10px;
}

div#ads{
  position: absolute;
  top: 6px;
  right: 10px;
  width: 468px;
  height: 60px;
}

#footer {
  color: #666;
  font-size: 80%;
  margin: 8px 0 5em 0;
}

h4 {
  color: #800;
  margin: 1em 0 .2em 0;
}

p{
  margin-left: 2em;
}
ul{
  margin-left: 3em;
}

#silverlightDlrRepl, 
#silverlightDlrReplCode, 
#silverlightDlrReplResult, 
.silverlightDlrReplPrompt {
  font-family: Consolas, "Andale Mono", courier, fixed, monospace;
  font-size: 16px;
}

#silverlightDlrReplCode, 
#silverlightDlrReplResult, 
.silverlightDlrReplPrompt {
  border: 0px;
  line-height: 20px;
  background-color: black;
  color: #eee;
}

#silverlightDlrRepl {
  padding: 15px;
  background-color: black;
  overflow: auto;
}

.silverlightDlrReplPrompt {
  color: yellow;
  display: block;
  float: left;
}

input#silverlightDlrReplCode {
  width: 90%;
  height: 20px;
  float: left;
  background: #060;
}

#silverlightDlrReplRun {
  display: none;
}
form#silverlightDlrReplRunForm {
  color: white;
}

